# zomato dataset exploratory data analysis

In [2]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
%matplotlib inline

In [4]:
df = pd.read_csv(r'Zomatodataset/zomato.csv',encoding='latin-1')

In [5]:
df.head()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229

In [6]:
df.columns

Index(['Restaurant ID', 'Restaurant Name', 'Country Code', 'City', 'Address',
       'Locality', 'Locality Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Is delivering now', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Rating color', 'Rating text',
       'Votes'],
      dtype='object')

In [19]:
df_country = pd.read_excel(r'Zomatodataset/Country-Code.xlsx')

In [20]:
df_country.head()

   Country Code    Country
0             1      India
1            14  Australia
2            30     Brazil
3            37     Canada
4            94  Indonesia

In [22]:
final_df = pd.merge(df,df_country,on='Country Code',how='left')

In [30]:
df_country.to_numpy()

array([[1, 'India'],
       [14, 'Australia'],
       [30, 'Brazil'],
       [37, 'Canada'],
       [94, 'Indonesia'],
       [148, 'New Zealand'],
       [162, 'Phillipines'],
       [166, 'Qatar'],
       [184, 'Singapore'],
       [189, 'South Africa'],
       [191, 'Sri Lanka'],
       [208, 'Turkey'],
       [214, 'UAE'],
       [215, 'United Kingdom'],
       [216, 'United States']], dtype=object)

In [31]:
# find out country names that has given zero rating

In [33]:
df.head(1)

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314

In [35]:
final_df.groupby('Country').Country

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes,Country
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Yes,No,No,No,3,4.8,Dark Green,Excellent,314,Phillipines

In [44]:
temp = final_df.groupby('Country')

In [45]:
temp

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes,Country
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Yes,No,No,No,3,4.8,Dark Green,Excellent,314,Phillipines
22,6600681,Chez Michou,30,Brasí_lia,"SCLN, 208, Bloco A, Loja 30, Asa Norte, Brasí_lia",Asa Norte,"Asa Norte, Brasí_lia",-47.881789,-15.764142,"Fast Food, French",...,No,No,No,No,2,3.0,Orange,Average,6,Brazil
82,17284404,Austin's BBQ and Oyster Bar,216,Albany,"2820 Meredyth Dr, Albany, GA 31707",Albany,"Albany, Albany",-84.221535,31.610387,"BBQ, Burger, Seafood",...,No,No,No,No,2,3.3,Orange,Average,35,United States
102,16611114,Whitebull Hotel,14,Armidale,"117 Marsh St, Armidale, NSW",Armidale,"Armidale, Armidale",151.668879,-30.514717,"Bar Food, Steak",...,No,No,No,No,2,3.5,Yellow,Good,25,Australia
185,16659169,Tokyo Sushi,37,Chatham-Kent,"150 Richmond St, Chatham-Kent, ON N7M2V2",Chatham-Kent,"Chatham-Kent, Chatham-Kent",-82.188438,42.397683,"Japanese, Sushi",...,No,No,No,No,2,3.7,Yellow,Good,176,Canada
456,18483372,Sky On 57,184,Singapore,"10 Bayfront Avenue, 57 Marina Bay Sands 018956","Bayfront Avenue, Downtown Core","Bayfront Avenue, Downtown Core, Singapore",103.860005,1.282661,"Chinese, Continental, Singaporean",...,No,No,No,No,4,3.4,Orange,Average,34,Singapore
564,18212135,Denny's,214,Abu Dhabi,"Abu Dhabi Mall, Tourist Club Area (Al Zahiyah)...","Abu Dhabi Mall, Tourist Club Area (Al Zahiyah)","Abu Dhabi Mall, Tourist Club Area (Al Zahiyah...",54.382797,24.495503,American,...,No,No,No,No,4,4.6,Dark Green,Excellent,207,UAE
624,3400025,Jahanpanah,1,Agra,"E 23, Shopping Arcade, Sadar Bazaar, Agra Cant...",Agra Cantt,"Agra Cantt, Agra",78.011544,27.161661,"North Indian, Mughlai",...,No,No,No,No,3,3.9,Yellow,Good,140,India
9276,18400530,Noah's Barn Coffeenery,94,Bandung,"Jl. Dayang Sumbi No. 2, Dago, Bandung",Dago,"Dago, Bandung",107.612790,-6.887058,"Cafe, Coffee and Tea, Western",...,No,No,No,No,3,4.2,Green,Very Good,22,Indonesia
9297,18251260,Kiss Kiss,148,Auckland,"1 Rocklands Avenue, Balmoral, Auckland",Balmoral,"Balmoral, Auckland",174.748080,-36.888662,Thai,...,No,No,No,No,2,4.3,Green,Very Good,133,New Zealand
9337,6900714,Pepe's Piri Piri,215,Birmingham,"254-256 Alum Rock Road, Alum Rock, Birmingham ...",Alum Rock,"Alum Rock, Birmingham",-1.846811,52.488557,Fast Food,...,No,No,No,No,1,2.8,Orange,Average,26,United Kingdom
9417,18426586,7st by Mumbai Spices,166,Doha,"Barwa Commercial Avenue, Near Thursday & Frida...",Ain Khalid,"Ain Khalid, Doha",51.506825,25.224394,"Indian, Street Food",...,No,No,No,No,4,3.4,Orange,Average,74,Qatar
9437,18395463,The Butcher's Wife,189,Cape Town,"15 Belgravia Road, Athlone, Cape Town",Athlone,"Athlone, Cape Town",18.514406,-33.964660,"Pizza, Grill",...,No,No,No,No,3,3.7,Yellow,Good,22,South Africa
9497,5800557,Chinese Dragon Cafe,191,Colombo,"11, Milagiriya Avenue, Bambalapitiya, Colombo 04","Bambalapitiya, Colombo 04","Bambalapitiya, Colombo 04, Colombo",79.856678,6.886341,Chinese,...,No,No,No,No,3,3.4,Orange,Average,118,Sri Lanka
9517,6001980,Timboo Cafe,208,Ankara,"Armada AVM, Kat -1, Eskiôehir Yolu, No 6, Yen...","Armada AVM, Sí_Ûôí_tí_zí_, Yenimahalle","Armada AVM, Sí_Ûôí_tí_zí_, Yenimahalle, Ankara",32.809247,39.913206,Cafe,...,No,No,No,No,3,4.2,Green,Very Good,134,Turkey